name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
    - uses: actions/checkout@v4
    - name: Build
      run: cargo build --verbose
    - name: Clippy Format test
      run: cargo clippy --all --manifest-path Cargo.toml -- -D warnings
    - name: Run tests
      run: cargo test --verbose
    - name: Run tests with mainnet data
      run: KZG_ENV=mainnet-data cargo test --verbose
    
